<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="{{ url_for('static', filename='css/speedometer.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/socket.io.slim.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lodash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/speedometer.js') }}"></script>

    <title>Vehicle Monitor</title>

</head>
<body>

    <div id="container">
        <div class="row">
            <div id="leftlight" class="col-md-2">
                <button button type="button" class="btn btn-default btn-block" disabled>Left</button>
            </div>
            <div id="speeddiv" class="text-center col-md-4">
                <input type="hidden" id="speed" value="20">
            </div>
            <div id="gear" class="col-md-2"> 
                <button type="button" value="P" class="btn btn-default btn-block" disabled>P</button>
                <button type="button" value="R" class="btn btn-default btn-block" disabled>R</button>
                <button type="button" value="N" class="btn btn-default btn-block" disabled>N</button>
                <button type="button" value="D" class="btn btn-default btn-block" disabled>D</button>
            </div>
            <div id="rightlight" class="col-md-2">
                <button type="button" class="btn btn-default btn-block" disabled>Right</button>
            </div>
        </div>
        <div class="row">			
            <div id="pedal" class="col-md-3">
                <p>Accelerator Position: <span id="acc"></span> </p>
                <p>Brake Position: <span id="brake"></span></p>
                <p>Battery SOC : <span id="soc"></span>%</p>
                <p>GPS Lat:  <span id="lat"></span></p>
                <p>GPS Lon: <span id="lon"></span></p>
                <p>latency: <span id="latency"></span></p>
                
            </div>

                
            <!--
            <div id="break" class="text-center col-md-4">
                <input type="image" id="car-break" src="{{ url_for('static', filename='img/break.png') }}"/>
            </div>
			-->
			<!--
            <div id="steering" class="container col-md-4" style="margin-left:26%;">
                <p style="margin-left:22%;">Value: <span id="steering-value"></span></p>
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange"
                    style="width: 50%; vertical-align: middle;">
            </div>
            -->
        </div>
        <div class="row">
			<p style="text-align:middle;">Steering Wheel Angle: <span id="wheel"></span></p>
        </div>
        
        <div class = "row" style="margin:50px;"> 
			<img id="wheel_img" src="{{ url_for('static', filename='img/wheel.jpg') }}" width="240px" height="240px" style="display:block;margin-left:auto;margin-right:auto;">      
		</div>
		
        
        
        </div>
    </div>
    



    
</body>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

<script>


</script>

</html>
